.todo-action-btns {
    display: flex;
    flex-direction: row;
    width: 50px;
    gap: 0.2rem;
}

.todo-action-btns input {
    cursor: pointer;
}

.delete-btn {
    width: 15px;
    height: 15px;
    background: url('delete-button.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
