.todo-action-btns {
  display: flex;
  flex-direction: row;
  width: 50px;
  gap: 0.2rem;
}

.todo-action-btns input {
  cursor: pointer;
}

.delete-btn {
  width: 15px;
  height: 15px;
  margin-top: 0.2rem;
  background: url("../assets/delete-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
